const { defineConfig } = require('cypress');

module.exports = defineConfig({
  e2e: {
    setupNodeEvents(on, config) {
      require('@cypress/code-coverage/task')(on, config);
      return config;
    },
     env: {
      url: 'https://API_URL.com',
    },
    baseUrl: 'http://localhost:3000',
  },
});


