@tailwind base;
@tailwind components;
@tailwind utilities;



h1, h2, h3, h4 {
  font-family: "BPG Nino Mtavruli", sans-serif;
}

p {
  font-family: "BPG Arial", sans-serif;
}

button {
  font-family: "BPG Nino Mtavruli", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}
  
  
